<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="popup.css">
  <script src='vue.js'></script>
</head>

<body>
  <div id='app'>
    <div class="weui-cells__title">设置</div>
    <div class="weui-cell weui-cell_switch">
      <div class="weui-cell__bd">
        插件开关
      </div>
      <div class="weui-cell__ft">
        <input class="weui-switch" name="isMarry" :checked="open" type="checkbox" @click='toggle' />
      </div>
    </div>
    <div class="weui-cells__title" v-if='commandList.length'>额外指令</div>
    <div @click='trigger(v.command)' v-for='(v,k) in commandList' class="weui-cell weui-cell_access">
      <div class="weui-cell__bd">
        {{v.description||'无描述'}}
      </div>
      <div class="weui-cell__ft"></div>
    </div>
  </div>
</body>
<script src="popup.js"></script>
<!-- 此处如需插入外链 js，则要添加 csp 规则 script-src https://*.imaoda.com 比如应用于一些动态化方案 -->

</html>